<% layout('layouts/boilerplate') %>


<div class="container mt-3 ">

    <h1 class="text-center">Start Game</h1>

    <div class="d-flex justify-content-center align-items-center vh-100 ">
        <div >
            <form action="/game" method="post">
                <button class="btn btn-success ">Start Game</button>
            </form>
        </div>
    </div>
</div>